.project-card {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
}

.project-image {
    width: 408px;
    height: 280px;
    object-fit: cover;
    border-bottom: 20px solid var(--green);
    border-left: 20px solid var(--green);
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.project-info p {
    font-family: "Hind", sans-serif;
    font-size: 18px;
    margin: 0;
}

.tags-box {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.tags-box p {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 6px;
}

.button-box {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.button {
    padding-right: 16px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background: #F5F5F5;
    gap: 7px;
}

a {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.view-live:hover {
    background-color: #6c9f14;
}

.view-code:hover {
    background-color: #D741A7;
}