#contact-info-section {
    padding-top: 128px;
    padding-bottom: 128px;
}

#contact-info-card {
    flex-direction: column;
    gap: 64px;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow-wrap: break-word;
}

.social-media-box {
    display: flex;
    gap: 32px;
}

.icon {
    max-height: 32px;
    max-width: 32px;
}