.footer-section {
  background-color: var(--cerise);
  width: 100%;
  height: 114px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.footer-text {
  white-space: nowrap;
  animation: textRoll 8s linear infinite;
}

.footer-text p{
    color: var(--ivory);
    font-family: "Montserrat", sans-serif;
    font-size: 26.038px;
    font-weight: 600;
    line-height: 37.874px; /* 145.455% */
}


@keyframes textRoll {
  from { transform: translate(0);}
  to {transform: translate(-50%);}
}