#intro-section {
    padding-top: 132px;
    padding-bottom: 62px;
}

.intro-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
}

#top-intro-picture {
    display: none;
}

#intro-heading {
    color: var(--green);
    font-size: 32px;
}

.profile-box {
    display: flex;
    align-items: center;
    align-self: stretch;
}

#intro-picture {
    margin-right: 22px;
}

.profile-picture {
    width: 164px;
    height: 164px;
    border-radius: 164px;
    object-fit: cover;
}

.arrow-box {
    height: 68px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    animation: arrowJump 1s infinite;
}

.arrow {
    width: 27px;
    height: 68px;
    flex-shrink: 0;
}

@keyframes arrowJump {
    from { top: 0;}
    to {top: 34px;}
}

@media (max-width:667px) {
    #intro-section {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    #greeting {
        font-size: 18px;
    }

    #top-intro-picture {
        display: flex;
        margin: 0 0 32px;
        align-self: center;
    }

    #intro-picture {
        display: none;
    }
}