#intro-section {
    padding-top: 64px;
    padding-bottom: 64px;
    row-gap: 32px;
}

#intro-card {
  display: grid;
  grid-template-columns: 164px 494px;
  grid-template-rows: 97px 164px;
  row-gap: 32px;
  column-gap: 22px;
}

#greeting-box {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
}

#intro-heading {
    color: var(--green);
    margin-bottom: 32px;
    text-align: left;
}

#top-intro-picture {
  grid-column-start: 1;
  grid-row-start: 2;
  margin-right: 22px;
}

.profile-text {
  grid-row-start: 2;
  grid-column-start: 2;
  align-self: start;
}

.arrow-box {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: arrowJump 1s infinite;
}

.arrow {
    width: 27px;
    height: 68px;
}

@keyframes arrowJump {
    from { top: 0;}
    to {top: 34px;}
}

@media (max-width:667px) {
  #intro-card {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  #top-intro-picture {
    display: flex;
    align-self: center;
    margin-bottom: 32px;
  }

  #greeting-box {
    height: 61px;
    margin-bottom: 32px;
  }
    
  #greeting {
    font-size: 18px;
  }

  #intro-heading {
    font-size: 32px;
  }
}

@media (min-width:668px) and (max-width:1024px) {
  #intro-section {
    padding-top: 128px;
    padding-bottom: 20px;
    row-gap: 118px;
  }    
}

@media (min-width:1025px) {
  #intro-section {
    padding-top: 332px;
    padding-bottom: 63px;
    row-gap: 200px;
  }

  #intro-card {
    grid-template-columns: 164px 772px;
    grid-template-rows: 137px 164px;
    row-gap: 32px;
    column-gap: 22px;
  }

  #intro-heading {
    margin-bottom: 16px;
  }
}
