#project-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.project-image {
    max-height: 200px;
    align-self: stretch;
    object-fit: cover;
    border-bottom: 20px solid var(--green);
    border-left: 20px solid var(--green);
}

.project-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-wrap: wrap;
}

.tags-box {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.button-box {
    display: flex;
    align-items: flex-start;
    gap: 7.5%;
}

a {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.view-live:hover {
    background-color: #6c9f14;
}

.view-code:hover {
    background-color: #D741A7;
}

@media (min-width:668px) and (max-width:1024px){
    #project-card {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .project-image {
        max-height: 280px;
        max-width: 200px;
    }

    .project-box {
        gap: auto;
    }
}

@media (min-width:1025px) {
    #project-card {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .project-image {
        max-height: 280px;
        max-width: 408px;
    }

    .project-box {
        gap: auto;
    }

    .project-box-info {
        width: 42.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        text-wrap: wrap;
    }
}