#project-card {
    flex-direction: column;
    align-items: center;
}

.project-image {
    max-width: 42.5%;
    max-height: 280px;
    object-fit: cover;
    border-bottom: 20px solid var(--green);
    border-left: 20px solid var(--green);
    margin-right: 16px;
}

.project-info {
    width: 42.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
}

.tags-box {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.button-box {
    display: flex;
    align-items: flex-start;
    gap: 7.5%;
}

.button {
    padding-right: 16px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background: #F5F5F5;
    gap: 7px;
}

a {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.view-live:hover {
    background-color: #6c9f14;
}

.view-code:hover {
    background-color: #D741A7;
}

@media (min-width:668px) {
    #project-card {
        justify-content: flex-start;
        flex-direction: row;
    }

    .project-info {
        width: 42.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        text-wrap: wrap;
    }
}