#skills-section {
    background-color: #6c9f14;
}

#skills-card {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
}

.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.skills-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Hind", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.skills-box h2 {
    color: var(--ivory);
    padding: 2px;
}

.cerise {
    background-color: var(--cerise);
}

.green {
    background-color: var(--dark-green);
}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}

@media (min-width:1025px) {
    #skills-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}