.tech {
    color: var(--ivory);
}

#tech-section {
    background-color: var(--green);
    padding-top: 388px;
    padding-bottom: 388px;
}

.tech p {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-left: 9.6%;
}