#tech-section {
    background-color: var(--green);
}
/*Check margins on section...*/
#tech-text {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

@media (min-width:668px) and (max-width:1024px) {
    #tech-section {
        padding-top: 256px;
        padding-bottom: 256px;
    }
}

@media (min-width:1025px) {
    #tech-section {
        padding-top: 388px;
        padding-bottom: 388px;
    }

    #tech-card {
        flex-wrap: nowrap;
    }

    #tech-heading {
        margin: 0;
    }

    #tech-text {
        font-size: 32px;
        text-align: left;
        margin-left: 9.6%;
    }
}