.project-card {
    display: flex;
}

.project-image {
    width: 408px;
    height: 280px;
    flex-shrink: 0;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}