* {
    --ivory: #FFFFEC;
    --brown: #C6A969;
    --green: #6c9f14;
    --dark-green: #475841;
    --cerise: #D741A7;
}

.title-page {
    background-color: var(--ivory);
    margin: 0;
    display: flex;
    padding: 132px 234px 63px 234px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.title-card {
    display: flex;
    flex-direction: column;
}

.greeting {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

h1 {
    color: var(--green);
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.arrow {
    width: 27px;
    height: 68px;
    flex-shrink: 0;
}