.title-card {
    background-color: white;
    display: inline-flex;
    padding: 332px 234px 63px 234px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 200px;
}

.greeting {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}