#root {
  --white: #FFFFFF;
  --ivory: #FFFFEC;
  --brown: #ddc696;
  --brown-two: #C6A969;
  --orange: #ffac11;
  --green: #5b8710;
  --dark-green: #475841;
  --pink: #fbdff7;
  --cerise: #D741A7;
  background-color: var(--ivory);
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 11;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 18px;
}

.section {
  padding-right: 12.5%;
  padding-left: 12.5%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#projects-section {
  padding-top: 128px;
  padding-bottom: 124px;
  gap: 128px;
}

.card {
  grid-column-start: 2;
  grid-column-end: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 124px;
}

.divider {
  height: 3px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  top: 11px;
}

.divider img {
  margin: -2px;
  object-fit: cover;
}

.articles-section {
  background-color: var(--pink);  
  padding: 124px 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 132px;
}

.article-heading {
    color: var(--cerise);
}

