#root {
  --white: #FFFFFF;
  --ivory: #FFFFEC;
  --brown: #ddc696;
  --brown-two: #C6A969;
  --orange: #ffac11;
  --green: #5b8710;
  --dark-green: #475841;
  --pink: #fbdff7;
  --cerise: #D741A7;
  background-color: var(--ivory);
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin: 0 0 16px;
  grid-column-start: 1;
  grid-column-end: 11;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 18px;
  margin: 0;
}

.section {
  padding-right: 4.3%;
  padding-left: 4.3%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#projects-section {
  padding-top: 128px;
  padding-bottom: 124px;
}

#articles-section {
  background-color: var(--pink);  
  padding: 124px;
}

.card {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.divider {
  background: url(./assets/divider.svg);
  background-repeat: repeat-x;
  height: 11px;
  position: relative;
  top: 6px;
}



.article-heading {
    color: var(--cerise);
}

@media (min-width:668px) and (max-width:1024px) {
  .section {
  grid-template-columns: repeat(8, 1fr);
  }

  .card {
  grid-column-start: 1;
  grid-column-end: 9;
  }
}

@media (min-width:1025px) {
  h1 {
    margin-bottom: 32px;
  }

  h2 {
    font-size: 32px;
  }

  .section {
  padding-right: 12.5%;
  padding-left: 12.5%;
  grid-template-columns: repeat(10, 1fr);
  }

  .card {
  grid-column-start: 1;
  grid-column-end: 11;
  }
}